# C4W2_quiz_1

In [90]:
import numpy as np
import pandas as pd
import math
import statsmodels
import scipy
import sklearn
from scipy import stats

## Task 1

Пусть t  — значение статистики критерия Стьюдента для независимых выборок, nu  —  соответствующее число степеней свободы. Какая из строчек кода вычисляет достигаемый уровень значимости t-критерия при альтернативе H1 ⁣:μ1>μ2H_1\colon \mu_1>\mu_2H1​:μ1​>μ2​?

In [18]:
t=-0.05
nu=20
1 - scipy.stats.t.cdf(t,nu)

0.5196908145006052

## Task 2

Выберите ситуации, в которых допустимо проверять нулевую гипотезу H0 ⁣:μ1=μ2H_0\colon \mu_1=\mu_2H0​:μ1​=μ2​ против односторонней альтернативы H1 ⁣:μ1>μ2H_1\colon \mu_1>\mu_2H1​:μ1​>μ2

    Случай
    Признак

## Task 3

Выберите верные утверждения о проблеме Беренца-Фишера.

    Равенство двух виборок
    Неизвестные дисперсии

## Task 4

Выберите верные утверждения о проблеме Беренца-Фишера.

In [4]:
mean_mu=9.5
dev=0.4

mean_x=9.57
n=160

In [12]:
def z_statistica(mean_x, mean_mu, S, n):
    return (mean_x-mean_mu)/(S/math.sqrt(n))

In [16]:
z_stat_calc = z_statistica(mean_x,mean_mu,dev,n)

In [25]:
p_value = 2*(1 - stats.norm.cdf(z_stat_calc))
print(round(p_value,ndigits=4))

0.0269

## Task 5

In [30]:
data = pd.read_csv('diamonds.txt',sep='\t')

In [35]:
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [41]:
data.shape

(53940, 7)

In [42]:
data.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [43]:
data.columns

Index(['carat', 'depth', 'table', 'price', 'x', 'y', 'z'], dtype='object')

In [46]:
from sklearn.model_selection import train_test_split

In [59]:
x = data.drop(['price'], axis=1)
x

       carat  depth  table     x     y     z
0       0.23   61.5   55.0  3.95  3.98  2.43
1       0.21   59.8   61.0  3.89  3.84  2.31
2       0.23   56.9   65.0  4.05  4.07  2.31
3       0.29   62.4   58.0  4.20  4.23  2.63
4       0.31   63.3   58.0  4.34  4.35  2.75
...      ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  5.66  5.68  3.56
53938   0.86   61.0   58.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 6 columns]

In [68]:
y = data.loc[:,data.columns == 'price']
y

       price
0        326
1        326
2        327
3        334
4        335
...      ...
53935   2757
53936   2757
53937   2757
53938   2757
53939   2757

[53940 rows x 1 columns]

In [69]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y,random_state=1)

In [70]:
from sklearn.linear_model import LinearRegression

In [72]:
clf_ln = LinearRegression()
clf_ln.fit(x_train, y_train)

LinearRegression()

In [73]:
pred_price_ln = clf_ln.predict(x_test)

In [75]:
pred_price_ln_sub = pred_price_ln - y_test
pred_price_ln_sub.describe()

              price
count  13485.000000
mean      19.229235
std     1463.058136
min   -12455.940789
25%     -342.670547
50%       63.649682
75%      652.518106
max    18239.846360

In [76]:
from sklearn.ensemble import RandomForestRegressor

In [80]:
clf_rfr = RandomForestRegressor(random_state=1)
clf_rfr.fit(x_train, y_train.values.ravel())

RandomForestRegressor(random_state=1)

In [81]:
predict_price_rfr = clf_rfr.predict(x_test)

In [83]:
predict_price_rfr_sub = predict_price_rfr[:, np.newaxis] - y_test
predict_price_rfr_sub.describe()

              price
count  13485.000000
mean      47.618441
std     1358.593645
min   -13484.020000
25%     -237.173333
50%       40.846819
75%      403.930000
max     8837.150000

In [87]:
stats.ttest_rel(np.abs(pred_price_lr_sub), np.abs(predict_price_rfr_sub))

Ttest_relResult(statistic=array([18.03725974]), pvalue=array([6.93682348e-72]))

In [92]:
from statsmodels.stats.weightstats import DescrStatsW

In [96]:
print("95%% confidence interval: [%f, %f]" % DescrStatsW(np.abs(pred_price_lr_sub) - np.abs(predict_price_rfr_sub)).tconfint_mean())

95% confidence interval: [98.638526, 122.690758]