# C4W1_quiz_1

## Task 2

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [20]:
import numpy as np
import pandas as pd
import math

In [4]:
# data = pd.read_csv('water.txt', header=0, sep='\t')

data = pd.read_csv('water.csv', header=0, sep=',')

In [6]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

Split the data intro regions:

In [7]:
total_mort = data['mortality']
south_mort = data[data['location']=='South']['mortality']
north_mort = data[data['location']=='North']['mortality']
south_hard = data[data['location']=='South']['hardness']
north_hard = data[data['location']=='North']['hardness']

In [14]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

Task to write a function to apply to every data:

In [21]:
def get_95_interval(sample):    
    mean_std = sample.std(ddof=1)/math.sqrt(len(sample))
    return _tconfint_generic(sample.mean(), mean_std, len(sample) - 1, 0.05, 'two-sided')

In [30]:
print('Confidance interval for mortality in all cities: \t', get_95_interval(total_mort))
print('Confidance interval for mortality in South cities: \t', get_95_interval(south_mort))
print('Confidance interval for mortality in North cities: \t', get_95_interval(north_mort))
print('Confidance interval for hardness in North cities: \t', get_95_interval(north_hard))
print('Confidance interval for hardness in South cities: \t', get_95_interval(south_hard))

Confidance interval for mortality in all cities: 	 (1476.0833413552848, 1572.2117406119285)
Confidance interval for mortality in South cities: 	 (1320.1517462936238, 1433.463638321761)
Confidance interval for mortality in North cities: 	 (1586.5605251961385, 1680.6394748038613)
Confidance interval for hardness in North cities: 	 (21.42248728572426, 39.37751271427574)
Confidance interval for hardness in South cities: 	 (53.467198692036106, 86.07126284642544)

Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией $\sigma^2$ При $\sigma=1$ какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью 0.1$?

In [36]:
n = (0.975/0.1)
n

9.75

https://www.cyberforum.ru/python-science/thread1997174.html

https://baguzin.ru/wp/opredelenie-obema-vyborki/#footnote2